// Colors
$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":  #45725A,
    "secondary":#DACEC2,
    "success":  #FE8340,
    "light":    #FCF9F4,
    ),
    $theme-colors
    );

$body-bg:       #FCF9F4;
$body-color:    #45725A;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
$font-family-base:  'Caveat', cursive;

@import '~bootstrap/scss/bootstrap.scss';
